<p [ngClass]=" 'textoRojo fondoAzul' ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum hic aut quaerat
  totam vitae,
  quibusdam voluptatem
  obcaecati magnam! Dicta officia atque aliquid eos facere totam, perspiciatis eaque modi incidunt non!</p>

<p [ngClass]="{'fondoRojo': !activo, 'fondoAzul': activo}">Commodi accusamus, neque maxime libero voluptatum eaque
  temporibus sit veritatis id
  non
  dolore quae cupiditate? Sequi
  labore repudiandae, quo suscipit molestias architecto velit amet aliquid error voluptates cumque officia sed?</p>
<button (click)="cambiarEstado()">Activar</button>

<hr>

<p [ngClass]="['textoRojo', 'fondoRojo']">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, optio non? Non
  facilis ipsa dolores. Dicta ut iure
  recusandae veniam iusto nihil eos sint dolorum quia! Corrupti eveniet delectus suscipit.</p>
