input.ng-invalid.ng-touched {
  border: 1px solid tomato;
}

input.ng-valid.ng-touched {
  border: 1px solid lightgreen;
}

.error {
  color: tomato;
  font-size: 13px;
}

/*
ng-pristine   ng-invalid     ng-touched
ng-dirty      ng-valid       ng-untouched
*/
