extends layout

block content
  .chat
    h1 AfroChat 
    main
      ul
        li Mario: Hola amiguitos 
        li Roberto: Cómo estás?
    footer
      .field
        label Nombre
        input(type="text")
      .field
        label Mensaje
        input(type="text")
      button Enviar
