extends layout

block content
  .chat
    h1.animate__animated.animate__bounce AfroChat
    h2#clientsCount  
    main
      ul#messages
        li Mario: Hola amiguitos 
        li Roberto: Cómo estás?
    footer
      .field
        label Nombre
        input#inputName(type="text")
      .field
        label Mensaje
        input#inputMessage(type="text")
      button#btnEnviar Enviar
  script(src="/javascripts/script-io.js")