<div class="ui raised very padded text container segment">
    <form action="/properties/create" method="POST" class="ui form">
        <div class="field">
            <label>Calle</label>
            <input type="text" name="street">
        </div>
        <div class="field">
            <label>Número</label>
            <input type="number" name="number">
        </div>
        <div class="field">
            <label>CP</label>
            <input type="text" name="cp">
        </div>
        <div class="field">
            <label>Piso</label>
            <input type="text" name="floor">
        </div>
        <div class="field">
            <label>Habitaciones</label>
            <input type="text" name="rooms">
        </div>
        <div class="field">
            <label>Baños</label>
            <input type="text" name="bathrooms">
        </div>
        <div class="field">
            <label>Precio</label>
            <input type="text" name="price">
        </div>
        <button class="ui button" type="submit">Enviar</button>
    </form>
</div>