.services{
    padding: 30px 0;
    color: $fontColor;
    h2{
        display: none;
    }
    article{
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 1px 1px 2px #999;
        &>div{
            padding: 30px 20px;
        }
        h3{
         font-size: 1.35rem;
         font-weight: 800;
        }
        h5{
            margin: 10px 0px 30px 0px
        }
        p{
            line-height: 1.5em;
        }

    }





}