@use "sass:math";

$bgColor: #e4e4e4;
$fontColor: #444;
$logoColor: #FC4887;
$blueColor: #1691c3;
$fontSize: 1em;
$fontsMap: (
    oleo : 'Oleo Script', 
    open : 'Open Sans'
);


$breakpointTablet: 768px;
$breakpointPortatil: 996px;
$breakpointDesktop: 1200px;

$columns: 12;
$column-base-width: math.div(100%,$columns);
$margin: 10px;

%boton{
    text-decoration: none;
    display: block;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    font-weight: 800;
    
}