<section class="personView">
  <h2>Nombre del personaje</h2>
  <ul>
    <li>Altura: <span></span> </li>
    <li>Peso: <span></span></li>
    <li>Color del piel: <span></span></li>
    <li>Color del pelo: <span></span></li>
    <li>Genero: <span></span></li>
    <li>Año de nacimiento: <span></span> </li>
  </ul>
  <hr>
  <nav>
    <ul class="submenu">
      <li>Peliculas</li>
      <li>Vehiculos</li>
      <li>Planetas</li>
    </ul>
  </nav>
  <aside>
    <h2>Peliculas</h2>
    <div class="grid">

      <article class="col-12 col-t-6 col-d-3">
        <h3>Titulo del pelicula</h3>
        <ul>
          <li>Capitulo:</li>
          <li>Director:</li>
          <li>Año:</li>
        </ul>
      </article>


    </div>
  </aside>
</section>
