@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Pirata+One:regular);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Lato';
}

.chat h1{
  font-family: 'Pirata One';
  text-shadow: 2px 2px 4px gray;
  height: 10vh;
  background-color: antiquewhite;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  font-size: 3rem;
}

.chat ul {
  display: flex;
  flex-direction: column;
}

.chat ul li{
  list-style-type: none;
  margin: 5px 0;
}

.chat main{
  height: 80vh;
  padding: 50px;
  background-color: ghostwhite;
}

.chat footer{
  height: 10vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  background-color: antiquewhite;
  border-top: 1px solid black;
}

footer .field{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer button{
  width: 20%;
  height: 50px;
}

.field input {
  height: 30px;
  padding: 0 10px;
}