<aside class="my-3">
  <label>Busqueda por titulo</label><br>
  <input type="text" class="form-control" placeholder="instroduce titulo a buscar"
    (input)="recogerDatoBusqueda($event)">
</aside>
<hr>

<aside class="my-3">
  <label>Puntuacion mayor o igual a:</label><br>
  <input type="number" min="0" max="10" [(ngModel)]="rating" class="form-control">
  <button class="btn btn-primary mt-2" (click)="recogerRating()">Filtrar</button>
</aside>
<hr>
<aside class="my-3">
  <label>Filtro por canal:</label><br>
  <select (change)="recogerCanal($event)" class="form-select">
    <option value="todos">todos</option>
    <option *ngFor="let canal of arrCanales" [value]="canal">{{canal}}</option>
  </select>
</aside>
