<button (click)="onClick()" mat-raised-button color="primary">Azul</button>
<button mat-raised-button color="accent">Rosa</button>
<hr>
<mat-button-toggle-group #group="matButtonToggleGroup">
  <mat-button-toggle value="left" aria-label="Text align left">
    <mat-icon>format_align_left</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="center" aria-label="Text align center">
    <mat-icon>format_align_center</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="right" aria-label="Text align right">
    <mat-icon>format_align_right</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="justify" aria-label="Text align justify">
    <mat-icon>format_align_justify</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
<section>
  <h2>Titulo de la sección</h2>
  <p [style]=" 'text-align:' + group.value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat odit
    perspiciatis corporis at mollitia recusandae
    ad aut quis consectetur vitae, eos tenetur distinctio culpa voluptatibus voluptates maxime molestiae facilis dolore?
  </p>

  <p [style]=" 'text-align:' + group.value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat odit
    perspiciatis corporis at mollitia recusandae
    ad
    aut quis consectetur vitae, eos tenetur distinctio culpa voluptatibus voluptates maxime molestiae facilis dolore?
  </p>
</section>
