.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products .card{
  width: 25%;
  margin: 15px;
}

/* .table td, .table th{
  border: 5px dotted red;
}

.table.is-bordered td, .table.is-bordered th{
  border-width: 5px;
} */

