<p [ngStyle]="{'color': color, 'font-size': fontSize}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quo
  veritatis ea iure hic eligendi
  corporis impedit
  quisquam molestias, porro placeat, ipsam libero inventore deserunt natus distinctio alias aspernatur! Nulla.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quo veritatis ea iure hic eligendi corporis impedit
  quisquam molestias, porro placeat, ipsam libero inventore deserunt natus distinctio alias aspernatur! Nulla.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quo veritatis ea iure hic eligendi corporis impedit
  quisquam molestias, porro placeat, ipsam libero inventore deserunt natus distinctio alias aspernatur! Nulla.</p>
